<a href="/">JDStoure</a>

<% if !current_user %>
  <%= link_to("注册", new_user_registration_path) %>
  <%= link_to(content_tag(:i, '登入', class:'fa fa-sign-in'), new_user_session_path) %>
<% else %>
  Hi, <%= current_user.email %>
  <%= link_to(content_tag(:i, '登出', class:'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
<% end %>
